body {
    margin: 0;
    padding: 0;
}

.grid-container-custom {
    margin-top: 0!important;
    width: 100%!important;
    margin-left: 0!important;
}

.grid-item-custom {
    padding-left: 0!important;
}

.active-button {
    background-color: #a39ecd!important;
    color: white !important;
    border-radius: 12px !important;
}

.link-hover:hover {
    text-decoration: underline;
}